div {
  padding: 20px;
  background-color: rgb(250, 191, 201);
  margin: 30px;
  text-align: center;
}

h1 {
  color: rgb(0, 80, 52);
}

h3 {
  color: rgb(2, 139, 94);
  margin-top: 20px;
}

p {
  color: brown;
  padding: 10px;
  border: 1px solid rgb(250, 150, 190);
  box-shadow: 5px 5px 10px rgba(250, 100, 190, 0.5);
  margin-top: 20px;
  background-color: rgb(248, 204, 230);
}
